/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #2E384D;
}

p {
	font-size: 14px;
}

.mycontainer {
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;
}

.myheader {
	display: flex;
	justify-content: space-between;
	padding-top: 38px;
	padding-bottom: 26px;
	align-items: flex-end;
}

.myheader a {
	text-decoration: none;
	color: #2E384D;
	display: inline-block;
}

.myheader a:hover {
	opacity: .8;
}

.myheader__name p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	line-height: 1.15;
	font-size: 26px;
}

.myheader__name a {
	margin-top: 7px;
	line-height: 1.35;
	display: inline-block;
}

.myheader__social a+a {
	margin-left: 26px;
}

.work {
	background-color: #2E384D;
	padding: 90px 0;
}

.mycontainer--work {
	max-width: 640px;
	width: 80%;
	padding: 0 15px;
}

.work__item {
	padding: 55px 0;
	color: #fff;
	display: flex;
}

.work__item:nth-child(odd) {
	justify-content: flex-end;
}

.work__content {
	max-width: 270px;
}

.work__item p,
.work__item h2 {
	color: #fff;
}

.work__item p {
	line-height: 1.2;
	font-weight: 600;
}

.work__title {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 46px;
	line-height: 1.12;
	margin-top: 7px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

.work__title:hover {
	opacity: 0.8;
}

.work__title span {
	font-size: 50%;
}

.info {
	padding: 95px 0 106px
}

.mycontainer--info {
	max-width: 810px;
	width: 80%;
}

.info__flex {
	display: flex;
	align-items: flex-end;
}

.info__flex>div {
	flex: 1
}

.info p {
	font-size: 15px;
	line-height: 1.6;
}

.info p+p {
	margin-top: 50px;
}

.info a {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	display: inline-block;
	text-decoration: none;
	color: #2E384D;
}

.info a:hover {
	opacity: .8;
}

.info a+a {
	margin-top: 7px;
}

@media only screen and (max-width: 600px) {
	.myheader {
		padding-top: 35px;
		padding-bottom: 20px;
	}
	.myheader__name p {
		font-size: 22px;
	}
	.myheader__name a {
		font-size: 13px;
	}
	.myheader__social a+a {
		margin-left: 15px;
	}
	.work {
		padding: 70px 0;
	}
	.work__item {
		padding: 35px 0;
	}
	.work__content {
		max-width: 180px;
	}
	.work__title {
		font-size: 32px;
	}
	.info {
		padding: 55px 0 75px;
	}
	.info__flex {
		flex-direction: column;
	}
	.info__flex>div:first-child {
		order: 2;
		margin-top: 40px
	}
	.info p {
		font-size: 14px;
	}
	.info p+p {
		margin-top: 30px;
	}
	.info a {
		font-size: 22px;
	}
}
